# brew
eval "$({{- .brew -}}/bin/brew shellenv)"

# history
HISTFILE="$HOME/.zsh_history"
HISTSIZE=50000
SAVEHIST=50000
setopt SHARE_HISTORY HIST_IGNORE_DUPS HIST_IGNORE_SPACE HIST_REDUCE_BLANKS

# shell options
setopt AUTO_CD INTERACTIVE_COMMENTS

# completions (brew-installed completions live in $(brew --prefix)/share/zsh/site-functions)
FPATH="$(brew --prefix)/share/zsh/site-functions:$FPATH"
autoload -Uz compinit && compinit

# exports
export VISUAL=nvim
export EDITOR="${VISUAL}"

# aliases
alias vim=nvim
alias ll='ls -lh'
alias la='ls -lAh'
alias l='ls -CF'
alias ..='cd ..'
alias ...='cd ../..'
alias gs='git status -sb'
alias gd='git diff'

# fzf
[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh

# starship prompt
eval "$(starship init zsh)"

# user bin
export PATH="$HOME/.local/bin:$PATH"
