[user]
  name = {{ onepasswordRead "op://Personal/PII/first name" }} {{ onepasswordRead "op://Personal/PII/last name" }}
  email = {{ onepasswordRead "op://Personal/Github Main/username" }}
  signingkey = {{ onepasswordRead "op://Personal/SSH Github sign/public key" }}
[alias]
  a = add
  ap = add -p
  b = branch
  c = clone
  ca = commit --amend
  cane = commit --amend --no-edit
  cm = commit --message
  co = checkout
  cob = checkout -b
  com = checkout master
  d = diff
  dc = diff --cached
  fo = fetch origin
  l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  p = push
  pf = push --force
  prb = pull --rebase
  st = status -sb
[color]
  ui = auto
[core]
  excludesfile = ~/.gitignore
[pull]
  rebase = true
[diff]
  colorMoved = zebra
[init]
  defaultBranch = main
[gpg]
  format = ssh
[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
[commit]
  gpgsign = true
